/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*header start*/
    .logo {
    width: 180px;
}
.banner_content h1 {

    margin-top: 50px;
    margin-bottom: 149px;
    font-size: 16px;

}
.card {
    margin-bottom: 50px;
}
.feature_title hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.feature_title h1 {
    margin-top: 50px;
    font-size: 18px;
}
.common_title h1 {
    font-size: 18px;
    padding-top: 50px;
}
.school_img {
    width: 200px;
    margin-top: 20px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .round {
    margin-bottom: 30px;
}
.card {
    margin-bottom: 50px;
}
.feature_title hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .card {
    margin-bottom: 50px;
}
.feature_title hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.school h1 {
    font-size: 25px;
}
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}